.back{
    background: rgb(114,0,45) !important;
    background: radial-gradient(circle, rgba(114,0,45,1) 0%, rgba(41,0,14,0.9447129193474265) 100%) !important;   
    height: 80vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.back-2{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 47%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}