html{
    height: 100%;
}

:root{
    --mainRed: #5f0024;
    --darkRed: #42021b;
    --mainPink: #fcb8d2;
    --mainWhite: #fff;
    --linkWhite: rgba(231, 190, 190, 0.788);
    --card: rgb(163, 125, 125);
    --cardWhite: rgb(207, 188, 188);
    --btnsechov: rgb(136, 103, 103);
    --cardProzirno: rgba(163, 125, 125, 0.671);
}

.btn-primary{
    background-color: var(--mainRed) !important;
    border: 2px solid #41021c !important;
    -webkit-box-shadow: 0 0 10px rgb(65, 1, 1);
        box-shadow: 0 0 10px rgb(65, 1, 1);
    
}

.button-nav{
    margin-top: 20px;
}

.btn-secundary{
    background-color: var(--card) !important;
    color: #41021c !important;
    border: 2px solid #41021c !important;
    -webkit-box-shadow: 0 0 10px rgb(65, 1, 1);
        box-shadow: 0 0 10px rgb(65, 1, 1);
    
}

.btn-primary:focus{
    -moz-box-shadow:    inset 0 0 10px #2e0404 !important;
    -webkit-box-shadow: inset 0 0 10px #2e0404 !important;
    box-shadow:         inset 0 0 10px #2e0404 !important;
    
}

.btn-secundary:focus{
    -moz-box-shadow:    inset 0 0 10px #2e0404 !important;
    -webkit-box-shadow: inset 0 0 10px #2e0404 !important;
    box-shadow:         inset 0 0 10px #2e0404 !important;
    
}


.btn-primary:hover{
    background-color: var(--darkRed) !important;
    
}

.btn-secundary:hover{
    background-color: var(--btnsechov) !important;
    
}


.form-control{
    background-color: var(--cardWhite) !important;
    border: 2px solid rgb(207, 188, 188) !important;
}
.card {
    margin: 0 auto; 
    margin-top: 10px;
    float: none; 
    margin-bottom: 10px; 
    background-color: var(--card) !important;
    -webkit-box-shadow: 0 8px 6px -6px rgb(44, 0, 0);
	   -moz-box-shadow: 0 8px 6px -6px rgb(44, 0, 0);
	        box-shadow: 0 8px 6px -6px rgb(44, 0, 0);
    
}



.card-title{
    color: var(--mainRed) !important;
}

.layout-main-wrap{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    
}

.title-back{
    color: var(--mainWhite) !important;
}

.pozdrav{
    color: var(--cardWhite) !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.back-img{
    background: rgb(114,0,45);
    background: radial-gradient(circle, rgba(114,0,45,1) 0%, rgba(41,0,14,0.9447129193474265) 100%);   
}

.blood-groups{
    margin-bottom: 20px;
    margin-top: 20px;;
}

.text-center{
    color: var(--cardWhite);
}

.zasto-lijevo{
    color: var(--mainWhite);
}

#zasto{
    margin-top: 70px;
    margin-bottom: 40px;
}

#zasto img{
    width: 90%;
}

#postupak{
    color: var(--mainWhite);
}

#thank-you{
    color: var(--mainWhite);
}

#postupak .row{
    margin-bottom: 10px;;
}

#postupak img{
    width: 30%;
    border-radius: 50%;
    border: 2px solid #1b000b;
    box-shadow: 0 0 5px #1b000b;
    margin-bottom: 10px;
    background-color: whitesmoke;
}

.labele{
    color:rgb(44, 0, 0);
}

.labele-label{
    color:rgb(44, 0, 0);
}
.error {
    font-size: 15px;
    color: var(--mainRed);
   }

   input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 6px;
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: var(--card);
    border-radius: 50%;
  }

  input[type="radio"]:checked {
    background-color: var(--darkRed);
  }

  .container-btn {
    height: 200px;
    position: relative;
  }
  
  .center-btn{
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }

  .center-btn-2{
    margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }

  .progress .traka{
    
    background-color: black;

  }
  .showcase .progress {
    background-color: #00000028;
    
    box-shadow: none;
  }


  #thank-you img{
    width: 50%;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 25%;
}


#thank-you-doc img{
    width: 40%;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 30%;
}



