.navbar-brand{
    font-size: 2rem !important;
    font-weight: bold;
    color: var(--mainWhite) !important;
}

.scroll-wrapper {
    position:relative;
    margin-top: 20px;
    left:25px;
    right: 40px;
    height:35px;
    width:40%;
    display:block;
    overflow:hidden;
}

.scroll-text{
    position:absolute;
    white-space: nowrap;
    font-size: 15px;
    font-weight: bold;
    color: var(--cardWhite);
    animation: anim 15s linear infinite;
    padding-left: 100%;
}

@keyframes anim{
    0%{transform: translateX(0);}
    100%{transform: translateX(-100%);}
}

.navbar{
    background-color: #5f0024;
    -webkit-box-shadow: 0 8px 6px -6px rgb(44, 0, 0);
	   -moz-box-shadow: 0 8px 6px -6px rgb(44, 0, 0);
	        box-shadow: 0 8px 6px -6px rgb(44, 0, 0);
}

.navbar-nav{
    text-decoration: none;
    font-size: 1.5rem;
    
    color: var(--cardWhite);
}

.nav-link{
    color: var(--mainWhite) !important;
}

.nav-link:hover{
    color: var(--linkPink) !important;
}

.nav-link:focus{
    text-decoration: underline !important;

}
.nav-link:active{
    text-decoration: underline !important;
  
}

.logo-img {
    position:relative;

    width: 35px;
    
    
   
}

.navbar-collapse{
    margin-left: 200px;
}
